header.header-wrap
  .header-body.container
    .header-logo
      h1 Logo
      //picture
      //  source(src="img/bg/logo.png" type="image/jpeg")
      //  img(src="img/bg/logo.webp")
    .header-menu
      ul.header-menu-list
        li
          a(href="").header-menu-link Главная
        li
          a(href="").header-menu-link Документы
        li
          a(href="").header-menu-link Магазины
        li
          a(href="").header-menu-link Цены
        li
          a(href="").header-menu-link Контакты

    .header-ui
      a(href="#").header-search
        img(src="img/svg/search.svg")
      a(href="#").header-cart
        img(src="img/svg/cart.svg")
      a(href="#").header-user
        img(src="img/svg/user.svg")
  .icon
    span
    span
    span
